@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #0056b3;
  --color-primary-foreground: #ffffff;

  --color-accent: #d32f2f;
  --color-accent-foreground: #ffffff;

  --color-muted: #f5f5f5;
  --color-muted-foreground: #737373;

  --color-card: #ffffff;
  --color-card-foreground: #0a0a0a;

  --color-border: #e5e5e5;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}